/* Первичный цвет текста #757575 */
/* Цвет заголовков и ссылок #212121 */
/* Цвет фона, h1, лого и адрес в футере #FFFFFF */
/* Акцент #2196F3 */
/* Контакты в футере #FFFFFF, 60 % */
/* Вторичный цвет фона #F5F4FA */
/* Цвет футера #2F303A */

:root {
  --primary-text-color: #757575;
  --primary-bg-color: #fff;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Header */
.logo {
  color: var(--secondary-text-color);
}

.site-nav .link {
  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-contacts a {
  color: var(--primary-text-color);
}

/* Main content */
.title {
  color: var(--secondary-text-color);
}

/* Footer */

footer .logo {
  color: var(--primary-bg-color);
}

address .location {
  color: var(--primary-bg-color);
}

footer .link {
  color: var(--footer-text-color);
}
