/* Первичный цвет текста --primary-text-color */
/* Цвет заголовков и ссылок --secondary-text-color */
/* Цвет фона, h1, лого и адрес в футере --primary-bg-color */
/* Вторичный цвет фона --secondary-bg-color */
/* Акцент --accent-color */
/* Контакты в футере --footer-text-color */
/* Цвет футера --footer-bg-color */

/* index.html */

.hero-title {
  color: var(--primary-bg-color);
}

.section-title {
  color: var(--secondary-text-color);
}

.hero .btn {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* portfolio.html */

.filter-btn {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
