/* Первичный цвет текста --primary-text-color */
/* Цвет заголовков и ссылок --secondary-text-color */
/* Цвет фона, h1, лого в футере, адреса --primary-bg-color */
/* Акцент --accent-color */
/* Контакты в футере #FFFFFF, 60 % */
/* Вторичный цвет фона #F5F4FA */
/* Цвет футера #2F303A */

.hero-title {
  color: var(--primary-bg-color);
}

.section-title {
  color: var(--secondary-text-color);
}

.title {
  color: var(--secondary-text-color);
}

.hero .btn {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
